/* *******************************************************************************************/
#home-page{
  padding-top: 30%;
  font-size: 32px;
}

#app-loader-page{
  padding-top: 40%;
}

#guide-view{
  padding-top: 5%;
}

.sample-location-image{
  background-image: url(../images/sample-location.jpeg);
}

#empty-div-to-push-button-to-bottom{
  height: 70%;
}

/*this css must is for development pupose only*/
/*******************************************************************************************
Progress Bar
*******************************************************************************************/
#moving-bar{
  width: 10px;
  height: 20px;
  background-color: #4cc74c;

  position: relative;
  -webkit-animation: goright 1s infinite;  /* Chrome, Safari, Opera */
  -webkit-animation-timing-function: linear;  /* Chrome, Safari, Opera */
  animation: goright 1s infinite;
  animation-timing-function: linear;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes goright {
  from {left: 0px;}
  to {left: 800px;}
}

@keyframes goright {
  from {left: 0px;}
  to {left: 800px;}
}

#loader-outline{
  background: #449d44;
  height: 20px;
  width: 800px;
}
/******************************************************************************************************
Colors for testing
******************************************************************************************************
*/
#body {
  background-color: #ffff00;
}

#guide-view {
  background-color: #d9534f;
}
/******************************************************************************************************/