/*this css must is for development pupose only*/

#next-instruction{
  margin-left: 2%;
  margin-right: 2%;
}

#guide-view{
  padding-top: 5%;
}

.sample-location-image{
  background-image: url(../images/sample-location.jpeg);
}

#empty-div-to-push-button-to-bottom{
  height: 70%;
}
/******************************************************************************************************
Colors for testing
******************************************************************************************************
*/
#body {
  background-color: #ffff00;
}

#home-page {
  background-color: #285e8e;
}

#search-home {
  background-color: #449d44;
}

#guide-view {
  background-color: #d9534f;
}
/******************************************************************************************************/