/*this css must is for development pupose only*/

#body {
  background-color: #ffff00;
}

#home-page {
  background-color: #285e8e;
}

#search-home {
  background-color: #449d44;
}

#guide-view{
  background-color: #d9534f;
}